<h1>{{title}}</h1>
<hr>

<div class="card">
  <ul class="list-group list-group-flush">
    {{#each users as |user|}}
        <li class="list-group-item">#{{user.id}} - {{user.name}}</li>
    {{/each}}
  </ul>
</div>