<h1>{{title}}</h1>
<hr>

<a href="/users/new" class="btn btn-primary btn-sm mb-3">New user</a>

<div class="card">
  <ul class="list-group list-group-flush">
    {{#each users as |user|}}
      <a href="/users/{{user.id}}">
      <li class="list-group-item">#{{user.id}} - {{user.name}}</li>
      </a>
    {{/each}}
  </ul>
</div>